
<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="create.css" />
    <title>Create a Community</title>
</head>
<body>
    <div class="container">
        <h1>Create Your Community</h1>
        <form id="create-community-form" action="/create-community" method="post">
            <div class="mb-3">
                <label for="communityName" class="form-label">Community Name</label>
                <input type="text" class="form-control" id="communityName" name="name" required maxlength="40">
            </div>
            <div class="mb-3">
                <label for="communityDescription" class="form-label">Description</label>
                <textarea class="form-control" id="communityDescription" name="description" required maxlength="500"></textarea>
            </div>
            <div class="mb-3">
                <label for="communityFilters" class="form-label">Select Filters</label>
                <select multiple class="form-select" id="communityFilters" name="filters">
                    <!-- Options for filters -->
                    <option value="filter5">Academic</option>
                    <option value="filter7">Business</option>
                    <option value="filter3">Club</option>
                    <option value="filter8">Engineering</option>
                    <option value="filter1">Fraternity</option>
                    <option value="filter6">Hobby</option>
                    <option value="filter4">Sports</option>
                    <option value="filter2">Sorority</option>

                </select>
            </div>
            <button type="submit" class="btn btn-primary">Create Community</button>
        </form>
    </div>

</body>

<%- include ('../partials/footer') %>

