<!-- Header -->
<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>
<!-- Body with the two div Container elements  -->
<head>
  <!-- <title>Discover Communities</title> -->
  <link rel="stylesheet" href="resources/css/discover.css" />
</head>
<body>
  <main>
    <div id="Container">
      <div id="CommunityPageContainer">
        <div class="title">Community Page</div>
        <hr />
        <div class="card">
          <!-- Card content goes here -->
          <h2>Card 1</h2>
          <p>Content for card 1.</p>
        </div>

        <div class="card">
          <!-- Card content goes here -->
          <h2>Card 2</h2>
          <p>Content for card 2.</p>
        </div>
        <div class="card">
          <!-- Card content goes here -->
          <h2>Card 3</h2>
          <p>Content for card 3.</p>
        </div>

        <!-- </div> -->
      </div>

      <div id="RandomEventContainer">
        <div class="title">Upcoming Events</div>
        <hr />
        <div class="card">
          <!-- Card content goes here -->
          <h2>Card 1</h2>
          <p>Content for card 1.</p>
        </div>

        <div class="card">
          <!-- Card content goes here -->
          <h2>Card 2</h2>
          <p>Content for card 2.</p>
        </div>
        <div class="card">
          <!-- Card content goes here -->
          <h2>Card 3</h2>
          <p>Content for card 3.</p>
        </div>
      </div>
    </div>
  </main>
</body>

<!-- footer -->
<%- include ('../partials/footer') %>
