<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>





<body>

    <main>

        <!-- Alen Ramic - This is the column where the website users communites pop up for now just has static varibles -->
        <div class="container">

            <div class="row">

                <div class="col-md-4 offset-md-0 mt-4" >
                    <div class="list-group">
                        <h5 class="list-group-item list-group-item-action active"  aria-current="true">Your Communities</h5>
                        <a href="#" class="list-group-item list-group-item-action">Community 1</a>
                        <a href="#" class="list-group-item list-group-item-action">Community 2</a>
                        <a href="#" class="list-group-item list-group-item-action">Community 3</a>
                        <a href="#" class="list-group-item list-group-item-action">Community 5</a>
                        <a href="#" class="list-group-item list-group-item-action">Community 6</a>
                        <a href="#" class="list-group-item list-group-item-action">Community 7</a>
                    </div>
                </div>

            </div>
        </div>



    </main>


</body>

<%- include ('../partials/footer') %>
