<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>

<head>

</head>

<body>
    <main>
        <div class="container">
            <h1>Login</h1>
            <form action="/login" method="POST">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" aria-describedby="username" placeholder="Enter username" name="username">
                <br>
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
                <br>
                <button type="submit" class="btn btn-outline-primary">Login</button>
                <small id="help" class="form-text text-muted">
                    New here? <a href='/register'>Register</a>
            </form>
        </div>
    </main>
</body>
<%- include ('../partials/footer') %>